<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><span class="blog-title-greg">greg</span><span class="blog-title-JS">JS</span></a>
	</h1>
	<span class="copyright">
		Built with <a href="https://hexo.io/" target="_blank">Hexo</a> & <a href="https://preactjs.com">Preact</a>.<br />
    Powered by <a href="https://nodejs.org" target="_blank">NodeJS</a>.<br />
		<%= config.author || config.title %>.
	</span>
</footer>
