<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><span class="blog-title-greg">greg</span><span class="blog-title-JS">JS</span></a>
	</h1>
	<span class="copyright">
		Generated with <a href="http://hexo.io/" target="_blank">Hexo</a>.<br />
    Powered by <a href="https://nodejs.org" target="_blank">NodeJS</a>.<br />
		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
	</span>
</footer>
