<div id="container-top">
  <div id="hamburger" class="mobile-nav-panel">
    <i class="icon-reorder icon-large"></i>
  </div>
  <header id="header">
    <h1 class="blog-title">
      <a href="<%- config.root %>"><span class="blog-title-greg">greg</span><span class="blog-title-JS">JS</span></a>
    </h1>
    <nav id="navMenu" class="nav">
      <ul class="menu-top">
        <li><a href="<%- config.root %>" class="menu-item">blog</a></li>
        <li class="menu-item">
          <a href="" class="menu-item-submenu">projects</a>
          <ul class="submenu">
            <span> </span>
            <a href="https://github.com/greg-js/hexo-cli-extras" class="submenu-item"><li>hexo-cli-extras</li></a>
            <a href="https://github.com/greg-js/arch-wiki-man" class="submenu-item"><li>arch-wiki-man</li></a>
            <a href="https://github.com/greg-js/arch-wiki-md-repo" class="submenu-item"><li>arch-wiki-md-repo</li></a>
            <a href="https://github.com/greg-js/offline-arch-wiki" class="submenu-item"><li>offline-arch-wiki</li></a>
            <a href="https://github.com/greg-js/markdown2troff" class="submenu-item"><li>markdown2troff</li></a>
            <a href="https://github.com/greg-js/vim-react-es6-snippets" class="submenu-item"><li>vim-react-es6-snippets</li></a>
            <a href="https://github.com/greg-js/wdn" class="submenu-item"><li>wdn</li></a>
            <a href="https://github.com/greg-js/gregjs-blog" class="submenu-item"><li>gregJS blog</li></a>
            <a href="https://github.com/greg-js/gregjs-theme" class="submenu-item"><li>gregJS theme</li></a>
            <a href="https://github.com/greg-js/gregjs-api" class="submenu-item"><li>gregJS API</li></a>
          </ul>
        </li>
        <li class="menu-item"><a href="/archives">archives</a></li>
        <li class="menu-item"><a href="/rss.xml">rss</a></li>
      </ul>
    </nav>
  </header>
</div>
