.archive
  margin: 1em 0 1em 0

#page-nav
  text-align: center
  text-transform: uppercase
  font-size: 95%
  font-weight: bold
  letter-spacing: .1em
  a, span
    display: inline-block
    min-width: 1.2em
    padding: 6px 8px
    margin: 1px 5px 1px 5px
    border-radius: 3px
    background-clip: padding-box
  a
    color: color-default
    text-decoration: none
    &:hover
      background-color: #f5f5f5
  .page-number
    display: inline-block
  .current
    background: #ccc
    color: #fff
  .space
    color: color-border
  .next
    min-width: 5em

.archived-post
  padding: 0.5em
  margin: 0.5em
  border-radius: 15px
  background: #fff

  a
    cursor: pointer

  .archived-post-metadata
    font-size: 90%
    padding-left: 0.25em
    padding-right: 0.5em

    .archived-post-metadata-date
      float: right
      color: darkgray
      font-family: font-mono

    .archived-post-metadata-category-div
    .archived-post-metadata-tags-div
      color:darkgray
      font-size: 85%

    .archived-post-metadata-tags-item
    .archived-post-metadata-category-item
      font-family: font-mono

.front-tagcloud
  text-align: center
  margin-bottom: 2em

.active-filters-div
  margin-bottom: 2.5em
  padding: 0.5em
  margin: 0.5em
  background: #ccc
  border-radius: 1em
  .active-tags-div,.active-cats-div,.active-search-div,.active-date-div
    margin: 0.5em 0.25em
    text-align: center
  .active-tag,.active-category,.active-date,.active-search
    padding: 0.1em 0.3em
    border-radius: 0.5em
    margin-right: 0.3em
    cursor: pointer
    background-color: white
    font-family: font-mono
  .active-tag
    font-size: 90%
    padding: 0.1em 0.3em
    border-radius: 0.5em
    margin-right: 0.3em
    cursor: pointer
    color: color-link
    &::before
      content: '#'
      color: color-default
  .active-category
    color: darkblue
    font-weight: bold
  .active-date
    background: lightyellow
  .active-search
    color: black
    font-weight: bold
    &::before
    &::after
      color: #ccc
      font-weight: normal
    &::before
      content: '/'
    &::after
      content: '/gi'

.search-bar-div
  margin: 1em 2em
  .search-bar
    width: 100%
    padding: 0.5em 0
    text-align: center
    font-size: 125%
    border-radius: 1em
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border: none
    color: white
    background-color: gray
    &:focus
      border: none
  @media (max-width: 1040px) and (min-width: 768px)
    .search-bar
      font-size: 100%
  @media (max-width: 767 px)
    .search-bar
      font-size: 65%

.archived-posts-count
  text-align: center
  color: #777
