#container
  width: 80%
  max-width: 1280px
  margin-left: auto
  margin-right: auto
  margin-top: 100px

article
  background: #ffffff
  padding: 1.2em
  border-radius: 15px

.page
.post
  margin-bottom: 2rem
  position: relative

  .entry-header
    margin-bottom: 0.65em

  .entry-title
    font-weight: bold
    font-size: 220%
    margin: 0

.entry-meta-header
  position: absolute
  top: 2.5em
  left: -200px
  width: 180px
  font-size: 85%
  a
    color: color-default
    &:hover
      color: color-link

  .meta-elements
    display: block
    margin-bottom: .5em

  .date
    font-weight: bold
    font-size: 120%
    a
      color: color-title
      &:hover
        color: color-link

.entry-content
  font-size: 105%
  line-height: line-height
  margin-bottom: 0.75em
  .title
    &.link
      a
        &:after
          content '\f08e'
          color color-meta
          font 12px font-icon
          padding-left 10px
          vertical-align super
  p
    margin: 0 0 0.5em 0
  img, video
    max-width: 100%
    height: auto
    display: block
    margin: 1.25em auto 1.25em auto
  a[title*="Flickr"] img
    height: auto!important
  h1, h2, h3, h4, h5, h6
    margin: 0.5em 0 .5em 0
    line-height: 1.1
  h1
    font-size: 170%
  h2
    font-size: 160%
  h3
    font-size: 140%
  h4
    font-size: 130%
  h5
    font-size: 110%
  h6
    font-size: 100%
  dt
    font-weight: bold
  ul
    list-style: disc !important
  ol
    list-style: decimal !important
  ul, ol, dl
    margin: 0 0 0.5em 1.5em
    padding: 0
    li ul, li ol
      margin-bottom: 0

  blockquote
    font-family: font-serif
    margin: 1.5em 3em
    padding: 5px 20px
    border-left: 2px solid #aaa
    color: color-footer
    p:last-child
      margin-bottom: 0
    footer
      font-size: font-size
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em

  .pullquote
    border-left: 0
    font-family: font-serif
    text-align: left
    width: 45%
    margin: 10px 0 0 0
    .left
      margin-left: 0.5em
      margin-right: 1em
    .right
      margin-right: 0.5em
      margin-left: 1em

  .caption
    color: color-default
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center

  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

  hr
    width: 20%
    margin: 3em auto
    border: 0
    border-top: 3px solid #d5d5d5

.category-tags
  font-family: font-mono
  margin-top: 2em
  color: color-footer
  line-height: 1.5

  a
    color: color-footer
    &:hover
      color: color-link

  li
    list-style-type: none

  span
    line-height: line-height

  .category
    font-size: 100%
    background: grey
    padding: 1px 10px 1px 10px
    border-radius: 8px
  .article-category-link
    color: white
    &:hover
      color: #bcfffd

  .meta
    margin-bottom: .7em

  .article-tag-list
    margin-top: 0.5em
    font-size: 90%
    padding: 0

  .article-tag-list-item
    margin-right: 10px

    &:before
      content: "#"

.article-more-link
  font-weight: bold
  text-align: center
  margin: 0.5em 0 0 0 !important

.archived
  border-bottom: none !important

.sharing-icons-div
  margin-top: 1em
  text-align: center
  position: absolute
  left: -2em
  right: -2em
  background: #ddd
  font-size: 100%
  padding: 0.25em

  &>a
    margin: 0 0.5em
    text-decoration: none
    color: color-default
    transition: color 0.5s

  &>a:hover
    color: color-link
