.mb-search
  display: none

#footer
  margin: 3em 0
  font-size: 70%
  display: block
  *zoom: 1
  line-height: 1.6
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."
  .footer-blog-title
    border-top: 4px double lightgrey
    border-bottom: 4px double lightgrey
    border-radius: 45%
    float: left
    display: inline-block
    font-family: font-mono
    font-size: 120%
    padding-bottom: .2em
    letter-spacing: .2em
    margin: 1em 1.5em 0 0
    transition: color 2.5s, border-color 2.5s
    webkit-transition: color 2.5s, border-color 2.5s
    color: color-title
    a
      position: relative
      left: .1em
      padding: .4em 0
      transition: color 2.5s, border-color 2.5s
      webkit-transition: color 2.5s, border-color 2.5s
    &:hover
      border-color: darkgrey
      transition: color 2.5s, border-color 2.5s
      webkit-transition: color 2.5s, border-color 2.5s
      a
        color: color-link
  .copyright
    display: block
