#header
  display: block
  margin: 0.75em 0 2em 0
  position: relative
  *zoom: 1
  border-bottom: 1px dashed grey
  &:after
    display: block
    visibility: hidden
    font-size: 0
    height: 0
    clear: both
    content: "."

.blog-title
  float: left
  display: inline-block
  font-size: 140%
  border-top: 4px double lightgrey
  border-bottom: 4px double lightgrey
  border-radius: 45%
  padding-bottom: .2em
  margin: 10px 0
  font-family: font-mono
  transition: color 1.5s, border-color 2.5s
  webkit-transition: color 1.5s, border-color 2.5s
  a
    position: relative
    left: .1em
    padding: .4em 0
    transition: color 1.5s, border-color 2.5s
    webkit-transition: color 1.5s, border-color 2.5s
  &:hover
    transition: color 1.5s, border-color 2.5s
    webkit-transition: color 1.5s, border-color 2.5s
    border-color: darkgrey
    a
      color: color-link

.blog-title-greg
  letter-spacing: .15em
  font-weight: 300
.blog-title-JS
  letter-spacing: 0.10em
  font-size: 110%
  font-weight: 700
  color: #97a93d

.mobile-nav-panel
  display: none
  padding: 15px 0 0
  .icon-reorder
    cursor: pointer
    display: inline-block
    width: 18px
    height: 17px
    background: url('/images/icon-reorder@2x.png') no-repeat 0 0
    background-size: 18px 17px

.nav
  margin: 14px 0
  font-size: 94%
  float: right
  position: relative
  font-family: font-mono
  ul
    display: block
    *zoom: 1
    margin: 0
    padding: 0
    &:after
      display: block
      visibility: hidden
      font-size: 0
      height: 0;
      clear: both
      content: "."
  li
    float: left
    margin: .3em 0 .3em 2.0em
    img
      vertical-align: middle

  a
    color: color-default
    &:hover
      color: color-link

.nav-icon
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 8px
  position: relative
  cursor: pointer

#nav-rss-link
  &:before
    content: "\f09e"

#nav-search-btn
  &:before
    content: "\f002"

#search-form-wrap
  display: none
  position: absolute
  top: 10px
  width: 150px
  height: 30px
  right: 280px
  opacity: 0
  transition: 0.2s ease-out
  &.on
    display: block
    opacity: 1
    right: 55px
  @media (max-width:767px)
    width: 100%
    left: -100%

.search-form
  position: absolute
  top: 0
  left: 0
  right: 0
  background: #fff
  padding: 3px 15px
  border-radius: 15px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.search-form-input
  border: none
  background: none
  color: color-default
  letter-spacing: 1px
  width: 90%
  font: 13px font-sans
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  position: absolute
  top: 50%
  right: 10px
  margin-top: -7px
  font: 13px font-icon
  border: none
  background: none
  color: #bbb
  cursor: pointer
  &:hover, &:focus
    color: #777
