#header
  display: block
  position: fixed
  *zoom: 1
  top: 0
  width: 70%
  left: 50%
  margin-left: -35%
  z-index: 1
  background: color-background
  background: rgba(221,221,221,0.95)
  a
    transition: color 1s

.blog-title
  float: left
  display: inline-block
  font-size: 140%
  border-top: 4px double lightgrey
  border-bottom: 4px double lightgrey
  border-radius: 45%
  padding-bottom: .2em
  margin: 10px 0
  font-family: font-mono
  transition: color 1.5s, border-color 2.5s
  webkit-transition: color 1.5s, border-color 2.5s
  a
    position: relative
    left: .1em
    padding: .4em 0
    transition: color 1.5s, border-color 2.5s
    webkit-transition: color 1.5s, border-color 2.5s
  &:hover
    transition: color 1.5s, border-color 2.5s
    webkit-transition: color 1.5s, border-color 2.5s
    border-color: darkgrey
    a
      color: color-link

.blog-title-greg
  letter-spacing: .15em
  font-weight: 300
.blog-title-JS
  letter-spacing: 0.10em
  font-size: 110%
  font-weight: 700
  color: #97a93d

.mobile-nav-panel
  display: none
  padding: 15px 0 0
  .icon-reorder
    cursor: pointer
    display: inline-block
    width: 18px
    height: 17px
    background: url('/images/icon-reorder@2x.png') no-repeat 0 0
    background-size: 18px 17px

.nav
  margin: 14px 0
  font-size: 94%
  float: right
  position: relative
  font-family: font-mono
  ul
    *zoom: 1
    margin: 0
    padding: 0
  li
    float: left
    margin: .3em 0 .3em 2.0em
    img
      vertical-align: middle

  a
    color: color-default
    &:hover
      color: color-link

.nav-icon
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 8px
  position: relative
  cursor: pointer

.submenu
  position: absolute
  top: 28px
  margin: 0
  padding: 0
  z-index: 2
  background: color-background
  background: rgba(221,221,221,0.95)
  display: none
  transition: height .8s ease-out
  span:first-child
    display: block
    height: 0.5em
    &:hover
      background: color-background !important
      background: rgba(221,221,221,0.95) !important
  li
    display: none
    float: none
    margin: 0
    padding: 0.5em 0.6em
    &:hover
      background: gray
      background: rgba(178,178,178,0.95)

.submenu-item > li::before
  content: " → "

.menu-item,.menu-item-submenu,.menu-item > ul
  cursor: pointer
  &:hover > .submenu,li,a
  &:active > .submenu,li,a
  &:target > .submenu,li,a
  &:focus > .submenu,li,a
    display: block

