// Colors
color-default = #4f5759
color-code = #fbfbfb
color-title = #222
color-border = #2c2c2c
color-link = #33a6b8
color-background = #ddd
color-meta = #999
color-footer = #777

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,600");

// Fonts
font-sans = "Source Sans Pro","Helvetica Neue","Helvetica","Arial",sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = Consolas, Monaco, Menlo, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 115%
line-height = 1.5em
