// Colors
color-default = #404040
color-title = #222
color-border = #2c2c2c
color-link = #33a6b8
color-background = #ddd
color-meta = #999
color-footer = #777

/* ubuntu-300 - latin */
@font-face {
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 300
  src: url('../fonts/ubuntu-v9-latin-300.eot')
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
       url('../fonts/ubuntu-v9-latin-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ubuntu-v9-latin-300.woff2') format('woff2'),
       url('../fonts/ubuntu-v9-latin-300.woff') format('woff'),
       url('../fonts/ubuntu-v9-latin-300.ttf') format('truetype'),
       url('../fonts/ubuntu-v9-latin-300.svg#Ubuntu') format('svg')
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 500
  src: url('../fonts/ubuntu-v9-latin-500.eot')
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
       url('../fonts/ubuntu-v9-latin-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ubuntu-v9-latin-500.woff2') format('woff2'),
       url('../fonts/ubuntu-v9-latin-500.woff') format('woff'),
       url('../fonts/ubuntu-v9-latin-500.ttf') format('truetype'),
       url('../fonts/ubuntu-v9-latin-500.svg#Ubuntu') format('svg')
}

/* source-code-pro-300 - latin */
@font-face {
  font-family 'Source Code Pro'
  font-style normal
  font-weight 300
  src url('../fonts/source-code-pro-v6-latin-300.eot')
  src local('Source Code Pro Light'), local('SourceCodePro-Light'),
      url('../fonts/source-code-pro-v6-latin-300.eot?#iefix') format('embedded-opentype'),
      url('../fonts/source-code-pro-v6-latin-300.woff2') format('woff2'),
      url('../fonts/source-code-pro-v6-latin-300.woff') format('woff'),
      url('../fonts/source-code-pro-v6-latin-300.ttf') format('truetype'),
      url('../fonts/source-code-pro-v6-latin-300.svg#SourceCodePro') format('svg')
}

/* source-code-pro-regular - latin */
@font-face {
  font-family 'Source Code Pro'
  font-style normal
  font-weight 400
  src url('../fonts/source-code-pro-v6-latin-regular.eot')
  src local('Source Code Pro'), local('SourceCodePro-Regular'),
      url('../fonts/source-code-pro-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/source-code-pro-v6-latin-regular.woff2') format('woff2'),
      url('../fonts/source-code-pro-v6-latin-regular.woff') format('woff'),
      url('../fonts/source-code-pro-v6-latin-regular.ttf') format('truetype'),
      url('../fonts/source-code-pro-v6-latin-regular.svg#SourceCodePro') format('svg')
}

// Fonts
font-sans = "Ubuntu-Light","Helvetica Neue","Helvetica","Arial",sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, monospace
/* font-icon = FontAwesome */
/* font-icon-path = "fonts/fontawesome-webfont" */
/* font-icon-version = "4.0.3" */
font-size = 115%
line-height = 1.5em
